include LICENSE
include README.md
include RELEASENOTES.md
include setup.py
include version.txt
recursive-include ixnetwork_restpy *.py
recursive-exclude ixnetwork_restpy/docs *.*
recursive-exclude ixnetwork_restpy/pytest_tests *.*
